<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0/EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
		
<!-- 별칭 지정 -->
<mapper namespace="edu.study.mapper.userMapper">

	<select id="selectList" resultType="userVO">
		select uidx
			, id
			, password
			, name
			, addr
			, phone
			, rdate
			from usertb
	</select>
	
	<select id="findUserByIdPass" parameterType="userVO" resultType="userVO">
		select uidx
			, id
			, password
			, name
			from usertb
			where id = #{id}
			and password = #{password}
	</select>
	
	<insert id="insertNewArticle" >
		insert into boardtb b
			, b.title
			, b.content
			, b.uidx
			, b.wdate
			, u.name
	</insert>
	
	<insert id="joinNewUser" parameterType="userVO" >
		insert into usertb(
					uidx
					, id
					, password
					, name
					, addr
					, phone
					, rdate)
					values(
						UIDX_SEQ.NEXTVAL
						, #{id}
						, #{password}
						, #{name}
						, #{addr}
						, #{phone}
						, sysdate
						)
	</insert>
</mapper>











